USE [master]
GO
/****** Object:  Database [QL_KHACHSAN]    Script Date: 09/12/2023 01:33:32 ******/
CREATE DATABASE [QL_KHACHSAN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_KHACHSAN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QL_KHACHSAN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL_KHACHSAN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QL_KHACHSAN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_KHACHSAN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_KHACHSAN]
GO
/****** Object:  UserDefinedFunction [dbo].[F_XoaDauTiengViet]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[F_XoaDauTiengViet] (@inputVar NVARCHAR(MAX) )
RETURNS NVARCHAR(MAX)
AS
BEGIN    
    IF (@inputVar IS NULL OR @inputVar = '')  RETURN ''
   
    DECLARE @RT NVARCHAR(MAX)
    DECLARE @SIGN_CHARS NCHAR(256)
    DECLARE @UNSIGN_CHARS NCHAR (256)
 
    SET @SIGN_CHARS = N'ăâđêôơưàảãạáằẳẵặắầẩẫậấèẻẽẹéềểễệếìỉĩịíòỏõọóồổỗộốờởỡợớùủũụúừửữựứỳỷỹỵýĂÂĐÊÔƠƯÀẢÃẠÁẰẲẴẶẮẦẨẪẬẤÈẺẼẸÉỀỂỄỆẾÌỈĨỊÍÒỎÕỌÓỒỔỖỘỐỜỞỠỢỚÙỦŨỤÚỪỬỮỰỨỲỶỸỴÝ' + NCHAR(272) + NCHAR(208)
    SET @UNSIGN_CHARS = N'aadeoouaaaaaaaaaaaaaaaeeeeeeeeeeiiiiiooooooooooooooouuuuuuuuuuyyyyyAADEOOUAAAAAAAAAAAAAAAEEEEEEEEEEIIIIIOOOOOOOOOOOOOOOUUUUUUUUUUYYYYYDD'
 
    DECLARE @COUNTER int
    DECLARE @COUNTER1 int
   
    SET @COUNTER = 1
    WHILE (@COUNTER <= LEN(@inputVar))
    BEGIN  
        SET @COUNTER1 = 1
        WHILE (@COUNTER1 <= LEN(@SIGN_CHARS) + 1)
        BEGIN
            IF UNICODE(SUBSTRING(@SIGN_CHARS, @COUNTER1,1)) = UNICODE(SUBSTRING(@inputVar,@COUNTER ,1))
            BEGIN          
                IF @COUNTER = 1
                    SET @inputVar = SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@inputVar, @COUNTER+1,LEN(@inputVar)-1)      
                ELSE
                    SET @inputVar = SUBSTRING(@inputVar, 1, @COUNTER-1) +SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@inputVar, @COUNTER+1,LEN(@inputVar)- @COUNTER)
                BREAK
            END
            SET @COUNTER1 = @COUNTER1 +1
        END
        SET @COUNTER = @COUNTER +1
    END
    -- SET @inputVar = replace(@inputVar,' ','-')
    RETURN @inputVar
END
GO
/****** Object:  Table [dbo].[CHITIETDICHVU]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDICHVU](
	[MAPHONG] [nvarchar](10) NULL,
	[MADV] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MACV] [nvarchar](10) NOT NULL,
	[TENCV] [nvarchar](30) NULL,
 CONSTRAINT [PK_CHUCVU] PRIMARY KEY CLUSTERED 
(
	[MACV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATPHONG]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATPHONG](
	[MADP] [nvarchar](10) NOT NULL,
	[MAKH] [nvarchar](10) NULL,
	[MANV] [nvarchar](10) NULL,
	[NGAYDATPHONG] [date] NULL,
	[NGAYNHANPHONG] [date] NULL,
	[NGAYTRAPHONG] [date] NULL,
	[MAPHONG] [nvarchar](10) NULL,
 CONSTRAINT [PK_DATPHONG] PRIMARY KEY CLUSTERED 
(
	[MADP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MADV] [nvarchar](10) NOT NULL,
	[TENDV] [nvarchar](50) NULL,
	[GIADV] [float] NULL,
 CONSTRAINT [PK_DICHVU] PRIMARY KEY CLUSTERED 
(
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[IDHOADON] [int] IDENTITY(1,1) NOT NULL,
	[NGAYTHANHTOAN] [date] NULL,
	[TONGTIEN] [float] NULL,
	[GIAMGIA] [float] NULL,
	[THANHTIEN] [float] NULL,
	[MANV] [nvarchar](10) NULL,
	[MAPHONG] [nvarchar](10) NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[IDHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [nvarchar](10) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[GIOITINH] [nchar](3) NULL,
	[CCCD] [char](15) NULL,
	[SDT] [nvarchar](10) NULL,
	[QUOCTICH] [nvarchar](20) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHONG](
	[MALP] [nvarchar](10) NOT NULL,
	[TENLP] [nchar](20) NULL,
	[DONGIA] [float] NULL,
	[SONGUOI] [int] NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_LOAIPHONG] PRIMARY KEY CLUSTERED 
(
	[MALP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nvarchar](10) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[GIOITINH] [nchar](5) NULL,
	[NGAYSINH] [date] NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SDT] [nvarchar](10) NULL,
	[MACV] [nvarchar](10) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[MAPHONG] [nvarchar](10) NOT NULL,
	[TENPHONG] [nvarchar](50) NULL,
	[TINHTRANG] [nvarchar](20) NULL,
	[MALP] [nvarchar](10) NULL,
	[MATANG] [nvarchar](10) NULL,
 CONSTRAINT [PK_PHONG] PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[IDTK] [int] IDENTITY(1,1) NOT NULL,
	[TENHIENTHI] [nvarchar](50) NULL,
	[USERNAME] [varchar](50) NOT NULL,
	[PASSWD] [varchar](50) NULL,
	[QUYEN] [nvarchar](10) NOT NULL,
	[MANV] [nvarchar](10) NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TANG]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TANG](
	[MATANG] [nvarchar](10) NOT NULL,
	[TENTANG] [nvarchar](10) NULL,
 CONSTRAINT [PK_TANG] PRIMARY KEY CLUSTERED 
(
	[MATANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHITIETDICHVU] ([MAPHONG], [MADV]) VALUES (N'P002', N'DV001')
INSERT [dbo].[CHITIETDICHVU] ([MAPHONG], [MADV]) VALUES (N'P004', N'DV002')
INSERT [dbo].[CHITIETDICHVU] ([MAPHONG], [MADV]) VALUES (N'P008', N'DV003')
GO
INSERT [dbo].[CHUCVU] ([MACV], [TENCV]) VALUES (N'CV001', N'Nhân viên')
INSERT [dbo].[CHUCVU] ([MACV], [TENCV]) VALUES (N'CV002', N'Trưởng phòng')
INSERT [dbo].[CHUCVU] ([MACV], [TENCV]) VALUES (N'CV003', N'Giám đốc')
GO
INSERT [dbo].[DATPHONG] ([MADP], [MAKH], [MANV], [NGAYDATPHONG], [NGAYNHANPHONG], [NGAYTRAPHONG], [MAPHONG]) VALUES (N'DP001', N'KH001', N'NV001', CAST(N'2023-11-22' AS Date), CAST(N'2023-11-23' AS Date), CAST(N'2023-11-25' AS Date), N'P001')
INSERT [dbo].[DATPHONG] ([MADP], [MAKH], [MANV], [NGAYDATPHONG], [NGAYNHANPHONG], [NGAYTRAPHONG], [MAPHONG]) VALUES (N'DP002', N'KH002', N'NV002', CAST(N'2023-11-23' AS Date), CAST(N'2023-11-24' AS Date), CAST(N'2023-11-26' AS Date), N'P005')
INSERT [dbo].[DATPHONG] ([MADP], [MAKH], [MANV], [NGAYDATPHONG], [NGAYNHANPHONG], [NGAYTRAPHONG], [MAPHONG]) VALUES (N'DP003', N'KH003', N'NV003', CAST(N'2023-11-24' AS Date), CAST(N'2023-11-25' AS Date), CAST(N'2023-11-27' AS Date), N'P006')
GO
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [GIADV]) VALUES (N'DV001', N'Giặt ủi', 50000)
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [GIADV]) VALUES (N'DV002', N'Karaoke', 70000)
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [GIADV]) VALUES (N'DV003', N'Đánh golf', 100000)
GO
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([IDHOADON], [NGAYTHANHTOAN], [TONGTIEN], [GIAMGIA], [THANHTIEN], [MANV], [MAPHONG]) VALUES (1, CAST(N'2023-11-22' AS Date), 1000000, 100000, 900000, N'NV001', N'P001')
INSERT [dbo].[HOADON] ([IDHOADON], [NGAYTHANHTOAN], [TONGTIEN], [GIAMGIA], [THANHTIEN], [MANV], [MAPHONG]) VALUES (2, CAST(N'2023-11-23' AS Date), 1500000, 150000, 1350000, N'NV002', N'P002')
INSERT [dbo].[HOADON] ([IDHOADON], [NGAYTHANHTOAN], [TONGTIEN], [GIAMGIA], [THANHTIEN], [MANV], [MAPHONG]) VALUES (3, CAST(N'2023-11-24' AS Date), 1200000, 120000, 1080000, N'NV003', N'P003')
SET IDENTITY_INSERT [dbo].[HOADON] OFF
GO
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [GIOITINH], [CCCD], [SDT], [QUOCTICH]) VALUES (N'KH001', N'Nguyễn Thị Thương Nguyên', N'123 Nguyễn Trãi, Đắk Lắk', N'Nữ ', N'123456789012345', N'0987654321', N'Việt Nam')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [GIOITINH], [CCCD], [SDT], [QUOCTICH]) VALUES (N'KH002', N'Hà Thị Minh Thư', N'456 Lê Văn Lương, Bình Phước', N'Nữ ', N'987654321098765', N'0123456789', N'Việt Nam')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [GIOITINH], [CCCD], [SDT], [QUOCTICH]) VALUES (N'KH003', N'Lê Thị Lợi', N'789 Điện Biên Phủ, Khánh Hòa', N'Nữ ', N'876543210987654', N'0908765432', N'Việt Nam')
GO
INSERT [dbo].[LOAIPHONG] ([MALP], [TENLP], [DONGIA], [SONGUOI], [SOLUONG]) VALUES (N'LP001', N'Phòng Đơn           ', 1000000, 1, 5)
INSERT [dbo].[LOAIPHONG] ([MALP], [TENLP], [DONGIA], [SONGUOI], [SOLUONG]) VALUES (N'LP002', N'Phòng Đôi           ', 1500000, 2, 8)
INSERT [dbo].[LOAIPHONG] ([MALP], [TENLP], [DONGIA], [SONGUOI], [SOLUONG]) VALUES (N'LP003', N'Phòng Gia Đình      ', 2000000, 4, 3)
GO
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GIOITINH], [NGAYSINH], [DIACHI], [SDT], [MACV]) VALUES (N'NV001', N'Nguyễn Khắc Huy', N'NAM  ', CAST(N'2003-09-06' AS Date), N'Long An', N'0123456789', N'CV001')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GIOITINH], [NGAYSINH], [DIACHI], [SDT], [MACV]) VALUES (N'NV002', N'Trần Tùng Mi', N'NỮ   ', CAST(N'2003-09-21' AS Date), N'Cà Mau', N'9876543199', N'CV001')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GIOITINH], [NGAYSINH], [DIACHI], [SDT], [MACV]) VALUES (N'NV003', N'Phan Thụy Thanh Quyên', N'NỮ   ', CAST(N'2003-01-06' AS Date), N'TP. Hồ Chí Minh', N'0123456789', N'CV001')
GO
INSERT [dbo].[PHONG] ([MAPHONG], [TENPHONG], [TINHTRANG], [MALP], [MATANG]) VALUES (N'P001', N'A.101', N'Đã đặt', N'LP001', N'T001')
INSERT [dbo].[PHONG] ([MAPHONG], [TENPHONG], [TINHTRANG], [MALP], [MATANG]) VALUES (N'P002', N'B.102', N'Đang sử dụng', N'LP002', N'T001')
INSERT [dbo].[PHONG] ([MAPHONG], [TENPHONG], [TINHTRANG], [MALP], [MATANG]) VALUES (N'P003', N'A.103', N'Trống', N'LP003', N'T005')
GO
SET IDENTITY_INSERT [dbo].[TAIKHOAN] ON 

INSERT [dbo].[TAIKHOAN] ([IDTK], [TENHIENTHI], [USERNAME], [PASSWD], [QUYEN], [MANV]) VALUES (1, N'Admin', N'admin', N'123', N'admin', N'NV001')
INSERT [dbo].[TAIKHOAN] ([IDTK], [TENHIENTHI], [USERNAME], [PASSWD], [QUYEN], [MANV]) VALUES (8, N'Võ Văn Khang', N'bdp23', N'password8', N'user', N'NV008')
INSERT [dbo].[TAIKHOAN] ([IDTK], [TENHIENTHI], [USERNAME], [PASSWD], [QUYEN], [MANV]) VALUES (9, N'Nguyễn Thị Linh', N'btman25', N'password9', N'user', N'NV009')
SET IDENTITY_INSERT [dbo].[TAIKHOAN] OFF
GO
INSERT [dbo].[TANG] ([MATANG], [TENTANG]) VALUES (N'T001', N'Tầng 1')
INSERT [dbo].[TANG] ([MATANG], [TENTANG]) VALUES (N'T002', N'Tầng 2')
INSERT [dbo].[TANG] ([MATANG], [TENTANG]) VALUES (N'T003', N'Tầng 3')
GO
ALTER TABLE [dbo].[CHITIETDICHVU]  WITH CHECK ADD  CONSTRAINT [FK_CTDV_DICHVU] FOREIGN KEY([MADV])
REFERENCES [dbo].[DICHVU] ([MADV])
GO
ALTER TABLE [dbo].[CHITIETDICHVU] CHECK CONSTRAINT [FK_CTDV_DICHVU]
GO
ALTER TABLE [dbo].[CHITIETDICHVU]  WITH CHECK ADD  CONSTRAINT [FK_CTDV_PHONG] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
GO
ALTER TABLE [dbo].[CHITIETDICHVU] CHECK CONSTRAINT [FK_CTDV_PHONG]
GO
ALTER TABLE [dbo].[DATPHONG]  WITH CHECK ADD  CONSTRAINT [FK_DATPHONG_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DATPHONG] CHECK CONSTRAINT [FK_DATPHONG_KHACHHANG]
GO
ALTER TABLE [dbo].[DATPHONG]  WITH CHECK ADD  CONSTRAINT [FK_DATPHONG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[DATPHONG] CHECK CONSTRAINT [FK_DATPHONG_NHANVIEN]
GO
ALTER TABLE [dbo].[DATPHONG]  WITH CHECK ADD  CONSTRAINT [FK_DATPHONG_PHONG] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
GO
ALTER TABLE [dbo].[DATPHONG] CHECK CONSTRAINT [FK_DATPHONG_PHONG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_PHONG] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_PHONG]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_CHUCVU] FOREIGN KEY([MACV])
REFERENCES [dbo].[CHUCVU] ([MACV])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CHUCVU]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_LOAIPHONG] FOREIGN KEY([MALP])
REFERENCES [dbo].[LOAIPHONG] ([MALP])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_PHONG_LOAIPHONG]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_TANG] FOREIGN KEY([MATANG])
REFERENCES [dbo].[TANG] ([MATANG])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_PHONG_TANG]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_NHANVIEN]
GO
/****** Object:  StoredProcedure [dbo].[SP_ChiTietDichVu]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--CHI TIẾT DỊCH VỤ
CREATE PROCEDURE [dbo].[SP_ChiTietDichVu]
AS
BEGIN
	SELECT P.TENPHONG AS N'TÊN PHÒNG', DV.TENDV AS N'TÊN DỊCH VỤ'
	FROM PHONG P, CHITIETDICHVU CTDV, DICHVU DV
	WHERE P.MAPHONG = CTDV.MAPHONG AND DV.MADV = CTDV.MADV
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ChuyenPhong]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ChuyenPhong]
@MAPHONGCU VARCHAR(10), @MAPHONGMOI VARCHAR(10)
AS
BEGIN
	IF NOT EXISTS (SELECT MAPHONG FROM PHONG WHERE MAPHONG = @MAPHONGCU AND TINHTRANG = N'ĐÃ ĐẶT')
	BEGIN
		UPDATE PHONG
		SET TINHTRANG = N'Đang sử dụng'
		WHERE MAPHONG = @MAPHONGMOI
	END
	ELSE
	BEGIN
		UPDATE PHONG
		SET TINHTRANG = N'Đã đặt'
		WHERE MAPHONG = @MAPHONGMOI
	END	

	UPDATE PHONG
	SET TINHTRANG = N'Trống'
	WHERE MAPHONG = @MAPHONGCU

	UPDATE CHITIETDICHVU
	SET MAPHONG = @MAPHONGMOI
	WHERE MAPHONG = @MAPHONGCU
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DatPhong]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DatPhong]
AS
BEGIN
	SELECT MADP AS N'MÃ ĐẶT PHÒNG', KH.TENKH AS N'TÊN KHÁCH HÀNG', NV.TENNV AS N'NHÂN VIÊN TIẾP NHẬN', NGAYDATPHONG AS N'NGÀY ĐẶT PHÒNG', NGAYNHANPHONG AS N'NGÀY NHẬN PHÒNG',NGAYTRAPHONG AS N'NGÀY TRẢ PHÒNG', P.TENPHONG AS N'TÊN PHÒNG'
	FROM DATPHONG DP, KHACHHANG KH, NHANVIEN NV, PHONG P
	WHERE DP.MAKH = KH.MAKH AND DP.MANV = NV.MANV AND DP.MAPHONG = P.MAPHONG;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DichVu]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DichVu]
AS
BEGIN
	SELECT MADV AS N'MÃ DỊCH VỤ' , TENDV AS N'TÊN DỊCH VỤ' , GIADV AS N'GIÁ DỊCH VỤ'
	FROM DICHVU

END
GO
/****** Object:  StoredProcedure [dbo].[SP_HoaDon_1]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--DROP PROCEDURE SP_HoaDon_1

--HOÁ ĐƠN
CREATE PROCEDURE [dbo].[SP_HoaDon_1]
AS
BEGIN
	SELECT IDHOADON AS N'ID', NGAYTHANHTOAN AS N'NGÀY THANH TOÁN', TONGTIEN AS N'TỔNG TIỀN', GIAMGIA AS N'GIẢM GIÁ', THANHTIEN AS N'THÀNH TIỀN', NV.TENNV AS N'NHÂN VIÊN THANH TOÁN', P.TENPHONG AS N'TÊN PHÒNG'
	FROM HOADON HD, NHANVIEN NV, PHONG P
	WHERE HD.MANV = NV.MANV AND HD.MAPHONG = P.MAPHONG;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_CHITIETDICHVU]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_INSERT_CHITIETDICHVU]
    @MAPHONG VARCHAR(10),
    @MADV VARCHAR(10)
AS
BEGIN    
    IF NOT EXISTS (SELECT 1 FROM CHITIETDICHVU WHERE MAPHONG = @MAPHONG AND MADV = @MADV)
    BEGIN        
        INSERT INTO CHITIETDICHVU (MAPHONG, MADV)
        VALUES (@MAPHONG, @MADV);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_KhachHang]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_KhachHang]
AS
BEGIN
	SELECT MAKH AS N'MÃ KHÁCH HÀNG', TENKH AS N'TÊN KHÁCH HÀNG', DIACHI AS N'ĐỊA CHỈ', GIOITINH AS N'GIỚI TÍNH', CCCD, SDT AS N'SỐ ĐIỆN THOẠI', QUOCTICH AS N'QUỐC TỊCH' 
	FROM KHACHHANG
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LayDanhSachPhong]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_LayDanhSachPhong]
AS
	SELECT * FROM PHONG
GO
/****** Object:  StoredProcedure [dbo].[SP_LoaiPhong]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

----Loại Phòng
CREATE PROCEDURE [dbo].[SP_LoaiPhong]
AS
BEGIN
	SELECT MALP AS N'MÃ LOẠI PHÒNG', TENLP AS N'TÊN LOẠI PHÒNG', DONGIA AS N'ĐƠN GIÁ', SONGUOI AS N'SỐ NGƯỜI', SOLUONG AS N'SỐ LƯỢNG'
	FROM LOAIPHONG 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LOGIN]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LOGIN]
@USERNAME VARCHAR(20), @PASSWORD VARCHAR(20)
AS
BEGIN
	SELECT * FROM DBO.TAIKHOAN WHERE USERNAME = @USERNAME AND PASSWD = @PASSWORD
END
GO
/****** Object:  StoredProcedure [dbo].[SP_NhanVien]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_NhanVien]
AS
BEGIN
	SELECT 
        NV.MANV AS N'MÃ NHÂN VIÊN',
        NV.TENNV AS N'HỌ TÊN',
        NV.GIOITINH AS N'GIỚI TÍNH',
        NV.NGAYSINH AS N'NGÀY SINH',
        NV.DIACHI AS N'ĐỊA CHỈ',
        NV.SDT AS N'SỐ ĐIỆN THOẠI',
        CASE 
            WHEN CV.MACV IS NULL THEN N'Không rõ'
            ELSE CV.TENCV 
        END AS N'CHỨC VỤ' 
    FROM 
        NHANVIEN NV
        LEFT JOIN CHUCVU CV ON NV.MACV = CV.MACV;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Phong]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Phong]
AS
BEGIN
	SELECT MAPHONG AS N'MÃ PHÒNG', TENPHONG AS N'TÊN PHÒNG', TINHTRANG AS N'TÌNH TRẠNG', TENLP AS N'LOẠI PHÒNG', TENTANG AS N'TẦNG'
	FROM PHONG P, LOAIPHONG LP, TANG T
	WHERE P.MALP = LP.MALP AND P.MATANG = T.MATANG
END
GO
/****** Object:  StoredProcedure [dbo].[SP_PhongTrong]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_PhongTrong]
AS
BEGIN
	SELECT MAPHONG AS N'MÃ PHÒNG', TENPHONG AS N'TÊN PHÒNG', TINHTRANG AS N'TÌNH TRẠNG', TENLP AS N'LOẠI PHÒNG', TENTANG AS N'TẦNG'
	FROM PHONG P, LOAIPHONG LP, TANG T
	WHERE P.MALP = LP.MALP AND P.MATANG = T.MATANG AND TINHTRANG = N'Trống'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SuaChiTietDichVu]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--DROP PROCEDURE SP_SuaChiTietDichVu
CREATE PROCEDURE [dbo].[SP_SuaChiTietDichVu]
@MAPHONG NVARCHAR(10), @MADV NVARCHAR(10), @MADVCU NVARCHAR(10), @MAPHONGCU VARCHAR(10)
AS
BEGIN
	IF NOT EXISTS (SELECT * FROM CHITIETDICHVU WHERE MADV = @MADV AND MAPHONG = @MAPHONG)
	BEGIN
		UPDATE CHITIETDICHVU
		SET MAPHONG = @MAPHONG, MADV = @MADV
		WHERE MADV = @MADVCU AND MAPHONG = @MAPHONGCU
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SuaDatPhong]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SuaDatPhong]
@MADP NVARCHAR(10), @MAKH NVARCHAR(10), @MANV NVARCHAR(10), @NGAYDATPHONG DATE, @NGAYNHANPHONG DATE, @NGAYTRAPHONG DATE, @MAPHONG NVARCHAR(10), @MADPCU NVARCHAR(10)
AS
BEGIN
	UPDATE DATPHONG
	SET MADP = @MADP, MAKH = @MAKH, MANV = @MANV, NGAYDATPHONG = @NGAYDATPHONG, NGAYNHANPHONG = @NGAYNHANPHONG, NGAYTRAPHONG = @NGAYTRAPHONG, MAPHONG = @MAPHONG
	WHERE MADP = @MADPCU
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SuaDichVu]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_SuaDichVu]
@MADV NVARCHAR(10), @TENDV NVARCHAR(50), @GIADV FLOAT, @MADVCU NVARCHAR(10)
AS
BEGIN
    UPDATE DICHVU
    SET MADV = @MADV, TENDV = @TENDV, GIADV = @GIADV
    WHERE MADV = @MADVCU
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SuaHoaDon]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_SuaHoaDon]
	@IDHOADON INT, @NGAYTHANHTOAN DATE, @TONGTIEN FLOAT, @GIAMGIA FLOAT, @THANHTIEN FLOAT, @MANV NVARCHAR(10), @MAPHONG NVARCHAR(10), @IDHOADONCU INT
AS
BEGIN
	UPDATE HOADON
	SET NGAYTHANHTOAN = @NGAYTHANHTOAN, TONGTIEN = @TONGTIEN, GIAMGIA = @GIAMGIA, THANHTIEN = @THANHTIEN, MANV = @MANV, MAPHONG = @MAPHONG
	WHERE IDHOADON = @IDHOADONCU
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SuaLoaiPhong]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_SuaLoaiPhong]
@MALP NVARCHAR(10), @TENLOAIPHONG NVARCHAR(20), @DONGIA FLOAT, @SONGUOI INT, @SOLUONG INT, @MAPHONGCU NVARCHAR(10)
AS
BEGIN
    UPDATE LOAIPHONG
    SET MALP = @MALP, TENLP = @TENLOAIPHONG, DONGIA = @DONGIA, SONGUOI = @SONGUOI, SOLUONG = @SOLUONG
    WHERE MALP = @MAPHONGCU
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SuaNhanVien]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_SuaNhanVien]
@MANV NVARCHAR(10), @TENNV NVARCHAR(50), @GIOITINH NVARCHAR(5), @NGAYSINH DATE, @DIACHI NVARCHAR(100), @SDT NVARCHAR(10), @MACV NVARCHAR(10), @MANVCU NVARCHAR(10)
AS	
BEGIN
		UPDATE NHANVIEN
		SET MANV = @MANV, TENNV = @TENNV, GIOITINH = @GIOITINH, NGAYSINH = @NGAYSINH, DIACHI = @DIACHI, SDT = @SDT, MACV = @MACV
		WHERE MANV = @MANVCU

END
GO
/****** Object:  StoredProcedure [dbo].[SP_SuaPhong]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_SuaPhong]
@MAPHONG NVARCHAR(10), @TENPHONG NVARCHAR(100), @TINHTRANG NVARCHAR(20), @MALOAIPHONG NVARCHAR(10), @MATANG NVARCHAR(10), @MAPHONGCU NVARCHAR(10)
AS
BEGIN
	UPDATE PHONG
	SET MAPHONG = @MAPHONG, TENPHONG = @TENPHONG, TINHTRANG = @TINHTRANG, MALP = @MALOAIPHONG, MATANG = @MATANG
	WHERE MAPHONG = @MAPHONGCU
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SuaTaiKhoan]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_SuaTaiKhoan]
@IDTK INT, @TENHIENTHI NVARCHAR(50), @USERNAME VARCHAR(50), @PASSWD VARCHAR(50), @QUYEN NVARCHAR(10), @MANV NVARCHAR(10)
AS
BEGIN
    UPDATE TAIKHOAN
    SET TENHIENTHI = @TENHIENTHI, USERNAME = @USERNAME, PASSWD = @PASSWD, QUYEN = @QUYEN, MANV = @MANV
    WHERE IDTK = @IDTK
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TaiKhoan]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TaiKhoan]
AS
BEGIN
	SELECT IDTK AS N'ID TÀI KHOẢN', TENHIENTHI AS N'TÊN HIỂN THỊ', USERNAME AS N'USERNAME', PASSWD AS N'PASSWORD', QUYEN AS N'QUYỀN', NV.TENNV AS N'NHÂN VIÊN SỞ HỮU'
	FROM TAIKHOAN TK, NHANVIEN NV
	WHERE TK.MANV = NV.MANV
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Them_HoaDon]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Them_HoaDon]
 @NGAYTHANHTOAN DATE, @TONGTIEN FLOAT, @GIAMGIA FLOAT, @THANHTIEN FLOAT, @MANV NVARCHAR(10), @MAPHONG NVARCHAR(10)
AS
BEGIN
		INSERT INTO HOADON (NGAYTHANHTOAN, TONGTIEN, GIAMGIA, THANHTIEN, MANV, MAPHONG)
		VALUES (@NGAYTHANHTOAN, @TONGTIEN, @GIAMGIA, @THANHTIEN, @MANV, @MAPHONG)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ThemChiTietDichVu]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ThemChiTietDichVu]
@MAPHONG NVARCHAR(10), @MADV NVARCHAR(10)
AS
	BEGIN
		INSERT INTO CHITIETDICHVU
		VALUES (@MAPHONG, @MADV)
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_ThemChucVu]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ThemChucVu]
@MACV VARCHAR(10), @TENCV NVARCHAR(100)
AS
BEGIN
	IF NOT EXISTS (SELECT * FROM CHUCVU WHERE MACV = @MACV AND TENCV = @TENCV)
	BEGIN 
		INSERT INTO CHUCVU
		VALUES (@MACV, @TENCV)
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ThemDatPhong]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ThemDatPhong]
@MADP NVARCHAR(10), @MAKH NVARCHAR(10), @MANV NVARCHAR(10), @NGAYDATPHONG DATE, @NGAYNHANPHONG DATE, @NGAYTRAPHONG DATE, @MAPHONG NVARCHAR(10)
AS
BEGIN
		INSERT INTO DATPHONG(MADP, MAKH, MANV, NGAYDATPHONG, NGAYNHANPHONG, NGAYTRAPHONG, MAPHONG)
		VALUES (@MADP, @MAKH, @MANV, @NGAYDATPHONG, @NGAYNHANPHONG, @NGAYTRAPHONG, @MAPHONG)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ThemDichVu]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ThemDichVu] (@MAPHONG VARCHAR(10), @MADV VARCHAR(10))
AS
BEGIN	
	
	INSERT DBO.CHITIETDICHVU (MAPHONG, MADV)
	VALUES (@MAPHONG, @MADV)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ThemDichVu_1]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ThemDichVu_1]
@MADV NVARCHAR(10), @TENDV NVARCHAR(50), @GIADV FLOAT
AS
BEGIN
	IF NOT EXISTS (SELECT * FROM DICHVU WHERE MADV = @MADV)
	BEGIN
		INSERT INTO DICHVU
		VALUES (@MADV, @TENDV, @GIADV)
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ThemHoaDon]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ThemHoaDon]
@NGAYTHANHTOAN DATE, @TONGTIEN FLOAT, @GIAMGIA FLOAT, @THANHTIEN FLOAT, @MANV VARCHAR(10), @MAPHONG VARCHAR(10)
AS
BEGIN
	INSERT INTO HOADON (NGAYTHANHTOAN, TONGTIEN, GIAMGIA, THANHTIEN, MANV, MAPHONG)
	VALUES (@NGAYTHANHTOAN, @TONGTIEN, @GIAMGIA, @THANHTIEN, @MANV, @MAPHONG);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ThemKhachHang]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ThemKhachHang]
@MAKH NVARCHAR(10), @TENKH NVARCHAR(50), @DIACHI NVARCHAR(100), @GIOITINH NVARCHAR(5), @CCCD VARCHAR(20), @SDT VARCHAR(20), @QUOCTICH NVARCHAR(50)
AS
BEGIN
	IF NOT EXISTS (SELECT * FROM KHACHHANG WHERE MAKH = @MAKH)
	BEGIN
		INSERT INTO KHACHHANG
		VALUES (@MAKH, @TENKH, @DIACHI, @GIOITINH, @CCCD, @SDT, @QUOCTICH)
	END	
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ThemLoaiPhong]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ThemLoaiPhong]
@MALP NVARCHAR(10), @TENLOAIPHONG NVARCHAR(20), @DONGIA FLOAT, @SONGUOI INT, @SOLUONG INT
AS
BEGIN
	IF NOT EXISTS (SELECT * FROM LOAIPHONG WHERE MALP = @MALP)
	BEGIN
		INSERT INTO LOAIPHONG
		VALUES (@MALP, @TENLOAIPHONG, @DONGIA, @SONGUOI, @SOLUONG)
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ThemNhanVien]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ThemNhanVien]
@MANV VARCHAR(10), @TENNV NVARCHAR(50), @GIOITINH NVARCHAR(5), @NGAYSINH DATE, @DIACHI NVARCHAR(100), @SDT VARCHAR(10), @MACV VARCHAR(10)
AS	
BEGIN
	IF NOT EXISTS (SELECT * FROM NHANVIEN WHERE MANV = @MANV)
	BEGIN
		INSERT INTO NHANVIEN (MANV, TENNV, GIOITINH, NGAYSINH, DIACHI, SDT, MACV)
		VALUES (@MANV, @TENNV, @GIOITINH, @NGAYSINH, @DIACHI, @SDT, @MACV);
	END	
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ThemPhong]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ThemPhong]
@MAPHONG NVARCHAR(10), @TENPHONG NVARCHAR(100), @TINHTRANG NVARCHAR(20), @MALOAIPHONG NVARCHAR(10), @MATANG NVARCHAR(10)
AS
BEGIN
	IF NOT EXISTS (SELECT * FROM PHONG WHERE MAPHONG = @MAPHONG)
	BEGIN
		INSERT INTO PHONG
		VALUES (@MAPHONG, @TENPHONG, @TINHTRANG, @MALOAIPHONG, @MATANG)
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ThemTaiKhoan]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ThemTaiKhoan]
@TENHIENTHI NVARCHAR(50), @USERNAME VARCHAR(50), @PASSWD VARCHAR(50), @QUYEN NVARCHAR(10), @MANV NVARCHAR(10)
AS
BEGIN
		INSERT INTO TAIKHOAN (TENHIENTHI, USERNAME, PASSWD, QUYEN, MANV)
		VALUES (@TENHIENTHI, @USERNAME, @PASSWD, @QUYEN, @MANV)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ThongKeHoaDon]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ThongKeHoaDon]
@TUNGAY DATE, @DENNGAY DATE
AS
BEGIN
	SELECT IDHOADON AS N'ID', NV.TENNV AS N'NHÂN VIÊN THANH TOÁN', P.TENPHONG AS N'TÊN PHÒNG', HD.NGAYTHANHTOAN AS N'NGÀY THANH TOÁN' ,HD.TONGTIEN AS N'TỔNG TIỀN', HD.GIAMGIA AS N'GIẢM GIÁ', HD.THANHTIEN AS N'THÀNH TIỀN'
	FROM HOADON HD, NHANVIEN NV, PHONG P
	WHERE HD.MANV = NV.MANV AND HD.MAPHONG = P.MAPHONG
	AND NGAYTHANHTOAN >= @TUNGAY AND NGAYTHANHTOAN <= @DENNGAY
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ThongKeHoaDonReport]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ThongKeHoaDonReport]
@TUNGAY DATE, @DENNGAY DATE
AS
BEGIN
	SELECT IDHOADON, NV.TENNV, P.TENPHONG, HD.NGAYTHANHTOAN, HD.THANHTIEN 
	FROM HOADON HD, NHANVIEN NV, PHONG P
	WHERE HD.MANV = NV.MANV AND HD.MAPHONG = P.MAPHONG
	AND NGAYTHANHTOAN >= @TUNGAY AND NGAYTHANHTOAN <= @DENNGAY
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ThongTinDichVu]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ThongTinDichVu]
     @MAPHONG VARCHAR(10)
AS
BEGIN
    SELECT DV.MADV, DV.TENDV, DV.GIADV
    FROM DICHVU DV
    JOIN CHITIETDICHVU CTDV ON DV.MADV = CTDV.MADV
    JOIN PHONG P ON CTDV.MAPHONG = P.MAPHONG
    WHERE P.MAPHONG = @MAPHONG AND P.TINHTRANG = N'ĐANG SỬ DỤNG'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ThongTinPhong]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ThongTinPhong]
    @MAPHONG VARCHAR(10)
AS
BEGIN
    SELECT P.TENPHONG, LP.TENLP, T.TENTANG, LP.DONGIA
    FROM PHONG P
        INNER JOIN LOAIPHONG LP ON P.MALP = LP.MALP
        INNER JOIN TANG T ON P.MATANG = T.MATANG
    WHERE P.MAPHONG = @MAPHONG;
END

EXEC SP_ThongTinPhong 'P002'
GO
/****** Object:  StoredProcedure [dbo].[SP_TimKiemChiTietDichVuTheoTenPhong]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--DROP PROCEDURE SP_TimKiemChiTietDichVuTheoTenPhong
CREATE PROCEDURE [dbo].[SP_TimKiemChiTietDichVuTheoTenPhong]
    @TENPHONG NVARCHAR(50)
AS
BEGIN
    SELECT P.TENPHONG AS N'TÊN PHÒNG', DV.TENDV AS N'TÊN DỊCH VỤ'
	FROM PHONG P, CHITIETDICHVU CTDV, DICHVU DV
	WHERE P.MAPHONG = CTDV.MAPHONG AND DV.MADV = CTDV.MADV
    AND dbo.F_XoaDauTiengViet(P.TENPHONG) LIKE '%' + dbo.F_XoaDauTiengViet(@TENPHONG) + '%';
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TimkiemChucVuTheoTen]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_TimkiemChucVuTheoTen]
@TENCV NVARCHAR(50)
AS
BEGIN
	SELECT MACV AS N'MÃ CHỨC VỤ', TENCV AS N'TÊN CHỨC VỤ' FROM CHUCVU
	WHERE dbo.F_XoaDauTiengViet(TENCV) LIKE '%' + dbo.F_XoaDauTiengViet(@TENCV) + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TimKiemDatPhongTheoTenKH]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TimKiemDatPhongTheoTenKH]
    @TENKH NVARCHAR(50)
AS
BEGIN
	SELECT MADP AS N'MÃ ĐẶT PHÒNG', KH.TENKH AS N'TÊN KHÁCH HÀNG', NV.TENNV AS N'NHÂN VIÊN TIẾP NHẬN', NGAYDATPHONG AS N'NGÀY ĐẶT PHÒNG', NGAYNHANPHONG AS N'NGÀY NHẬN PHÒNG',NGAYTRAPHONG AS N'NGÀY TRẢ PHÒNG', P.TENPHONG AS N'TÊN PHÒNG'
	FROM DATPHONG DP, KHACHHANG KH, NHANVIEN NV, PHONG P
	WHERE DP.MAKH = KH.MAKH AND DP.MANV = NV.MANV AND DP.MAPHONG = P.MAPHONG AND
        dbo.F_XoaDauTiengViet(KH.TENKH) LIKE '%' + dbo.F_XoaDauTiengViet(@TENKH) + '%';
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TimKiemDichVuTheoTen]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_TimKiemDichVuTheoTen]
    @TENDV NVARCHAR(50)
AS
BEGIN	
    SELECT MADV AS N'MÃ DỊCH VỤ' , TENDV AS N'TÊN DỊCH VỤ' , GIADV AS N'GIÁ DỊCH VỤ'
	FROM DICHVU
    WHERE 
        dbo.F_XoaDauTiengViet(TENDV) LIKE '%' + dbo.F_XoaDauTiengViet(@TENDV) + '%';
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TimKiemHoaDonTheoID]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--DROP PROCEDURE SP_TimKiemHoaDonTheoID

CREATE PROCEDURE [dbo].[SP_TimKiemHoaDonTheoID]
    @IDHOADON INT
AS
BEGIN
    SELECT IDHOADON AS N'ID', NGAYTHANHTOAN AS N'NGÀY THANH TOÁN', TONGTIEN AS N'TỔNG TIỀN', GIAMGIA AS N'GIẢM GIÁ', THANHTIEN AS N'THÀNH TIỀN', NV.TENNV AS N'NHÂN VIÊN THANH TOÁN', P.TENPHONG AS N'TÊN PHÒNG'
	FROM HOADON HD, NHANVIEN NV, PHONG P
	WHERE 
		HD.MANV = NV.MANV AND HD.MAPHONG = P.MAPHONG AND
        dbo.F_XoaDauTiengViet(HD.IDHOADON) LIKE '%' + dbo.F_XoaDauTiengViet(@IDHOADON) + '%';
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TimkiemKhachHangTheoTen]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_TimkiemKhachHangTheoTen]
@TENKH NVARCHAR(50)
AS
BEGIN
	SELECT MAKH AS N'MÃ KHÁCH HÀNG', TENKH AS N'TÊN KHÁCH HÀNG', DIACHI AS N'ĐỊA CHỈ', GIOITINH AS N'GIỚI TÍNH', CCCD, SDT AS N'SỐ ĐIỆN THOẠI', QUOCTICH AS N'QUỐC TỊCH' 
	FROM KHACHHANG
	WHERE dbo.F_XoaDauTiengViet(TENKH) LIKE '%' + dbo.F_XoaDauTiengViet(@TENKH) + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TimKiemLoaiPhongTheoTen]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_TimKiemLoaiPhongTheoTen]
    @TENLPH NVARCHAR(50)
AS
BEGIN
    SELECT MALP AS N'MÃ LOẠI PHÒNG', TENLP AS N'TÊN LOẠI PHÒNG', DONGIA AS N'ĐƠN GIÁ', SONGUOI AS N'SỐ NGƯỜI', SOLUONG AS N'SỐ LƯỢNG'
	FROM LOAIPHONG 
    WHERE 
        dbo.F_XoaDauTiengViet(TENLP) LIKE '%' + dbo.F_XoaDauTiengViet(@TENLPH) + '%';
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TimKiemNhanVienTheoTen]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_TimKiemNhanVienTheoTen]
@TENNV NVARCHAR(50)
AS
BEGIN
	SELECT MANV AS N'MÃ NHÂN VIÊN', TENNV AS N'HỌ TÊN', GIOITINH AS N'GIỚI TÍNH', NGAYSINH AS N'NGÀY SINH' ,DIACHI AS N'ĐỊA CHỈ', SDT AS N'SỐ ĐIỆN THOẠI', TENCV AS 'CHỨC VỤ' 
	FROM NHANVIEN NV, CHUCVU CV
	WHERE NV.MACV = CV.MACV AND dbo.F_XoaDauTiengViet(TENNV) LIKE '%' + dbo.F_XoaDauTiengViet(@TENNV) + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TimKiemPhongTheoTen]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_TimKiemPhongTheoTen]
    @TENPH NVARCHAR(50)
AS
BEGIN
    SELECT 
        P.MAPHONG AS N'MÃ PHÒNG', 
        P.TENPHONG AS N'TÊN PHÒNG', 
        P.TINHTRANG AS N'TÌNH TRẠNG', 
        LP.TENLP AS N'LOẠI PHÒNG', 
        T.TENTANG AS N'TẦNG'
    FROM 
        PHONG P
        INNER JOIN LOAIPHONG LP ON P.MALP = LP.MALP
        INNER JOIN TANG T ON P.MATANG = T.MATANG
    WHERE 
        dbo.F_XoaDauTiengViet(P.TENPHONG) LIKE '%' + dbo.F_XoaDauTiengViet(@TENPH) + '%';
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TimKiemTaiKhoanTheoTen]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_TimKiemTaiKhoanTheoTen]
    @TENHIENTHI NVARCHAR(50)
AS
BEGIN
    SELECT IDTK AS N'ID TÀI KHOẢN', TENHIENTHI AS N'TÊN HIỂN THỊ', USERNAME AS N'USERNAME', PASSWD AS N'PASSWORD', QUYEN AS N'QUYỀN', NV.TENNV AS N'NHÂN VIÊN SỞ HỮU'
	FROM TAIKHOAN TK, NHANVIEN NV
	WHERE TK.MANV = NV.MANV and
        dbo.F_XoaDauTiengViet(TK.TENHIENTHI) LIKE '%' + dbo.F_XoaDauTiengViet(@TENHIENTHI) + '%';
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateChucVu]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_UpdateChucVu]
@MACV NVARCHAR(10), @TENCV NVARCHAR(100), @MACVCU NVARCHAR(10)
AS
BEGIN
		UPDATE CHUCVU
		SET MACV = @MACV, TENCV = @TENCV
		WHERE MACV = @MACVCU
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateKhachHang]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_UpdateKhachHang]
@MAKH NVARCHAR(10), @TENKH NVARCHAR(50), @DIACHI NVARCHAR(100), @GIOITINH NVARCHAR(5), @CCCD VARCHAR(20), @SDT VARCHAR(20), @QUOCTICH NVARCHAR(50), @MAKHCU NVARCHAR(10)
AS
BEGIN
	UPDATE KHACHHANG
	SET MAKH = @MAKH, TENKH = @TENKH, DIACHI = @DIACHI, GIOITINH = @GIOITINH, CCCD = @CCCD, SDT = @SDT, QUOCTICH = @QUOCTICH
	WHERE MAKH = @MAKHCU
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateTaiKhoan]    Script Date: 09/12/2023 01:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_UpdateTaiKhoan]
@TENHIENTHI NVARCHAR(100), @USERNAME VARCHAR(100), @PASSWORD VARCHAR(20), @NEWPASSWORD VARCHAR(20)
AS
BEGIN
	DECLARE @KIEMTRAMATKHAU INT
	SELECT @KIEMTRAMATKHAU = COUNT(*) FROM TAIKHOAN WHERE USERNAME = @USERNAME AND PASSWD = @PASSWORD
	IF (@KIEMTRAMATKHAU = 1)
	BEGIN
		IF (@NEWPASSWORD = NULL OR @NEWPASSWORD = '')
		BEGIN
			UPDATE TAIKHOAN
			SET TENHIENTHI = @TENHIENTHI
			WHERE USERNAME = @USERNAME
		END
		ELSE
		BEGIN
			UPDATE TAIKHOAN
			SET TENHIENTHI = @TENHIENTHI, PASSWD = @NEWPASSWORD
			WHERE USERNAME = @USERNAME
		END
	END
END
GO
USE [master]
GO
